body {
  background-color: #ccc;
}

.page-content {
  display: block;
  position: relative;
}
.chart {
  width: 400px;
  height: 400px;
  background-color: white;
}

.chart .linePath {
  fill: none;
  stroke-width: 1;
  stroke: black;
}